@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/* global css is heare */

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
img{
    max-width: 100%;
}
:root{
    --lightgray: #2a2a2c;
    --lightwhite: #F8F2EF;
    --btnoff: #AAA7A7;
}

.container-xl{
    max-width: 1240px;
    margin: auto;
    padding: 0px 12px;
  
}
/* disclaimer onload */



/* contact popup */

.modal-content{
    border: 5px solid transparent;
}
.contact_popup_inner{
    display: flex;
    justify-content: center;
}
.contact_popup_inner_left{
    margin-right: 20px;
}
.modal{
    --bs-modal-width: 1240px;
}
.btn:hover{
    background-color: transparent;
}
.btn:first-child:active{
    background-color: transparent;
}
.btn-close:focus{
    box-shadow: none;
}
.modal-header .btn-close{
    margin-left: auto;
    margin-top: 20px;
    font-size: 25px;
    margin-right: 72px;
}
.modal-header{
    border-bottom: none;
}
.contact_popup_inner_left h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    color: #000000;
    text-align: center;
    margin-bottom: 50px;
}
.name_div {
    display: flex;
    flex-direction: column;
}
.name_div label{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    margin-bottom: 5px;
}
.name_div input{
    max-width: 505px;
    min-height: 36px;
    border: 1px solid #2A2A2C;
    border-radius: 5px;
    padding-left: 5px;
}
.mobile_and_contact_outer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 510px;
}
.mobile_div{
    display: flex;
    flex-direction: column;
}
.mobile_div label{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    margin-top: 38px;
    margin-bottom: 5px;
}
.mobile_div input{
    min-width: 240px;
    min-height: 36px;
    border: 1px solid #2A2A2C;
    border-radius: 5px;
    margin-right: 5px;
    padding-left: 5px;
}
.contact_outer{
    display: flex;
    flex-direction: column;
}
.contact_outer label{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    margin-top: 38px;
    margin-bottom: 5px;
}
.contact_outer input{
    min-width: 240px;
    min-height: 36px;
    border: 1px solid #2A2A2C;
    border-radius: 5px;
    padding-left: 5px;
}
.choose_section_inner{
    display: flex;
}
.choose_section p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    margin-top: 35px;
}
.choose_section_inner label{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    margin-bottom: 5px;
}
.choose_section_inner .input_2 label{
    margin-left: 12px;
}
.choose_section_inner .input_2  input{
    margin-top: 4px;
}
.choose_section_inner .input_2{
  display: flex;
  align-items: flex-start;
}
.choose_section_inner .input_2{
    margin-left: 32px;
}
.choose_section_inner .input_3{
    margin-left: 42px;
}
.choose_section_inner .input_4{
    margin-left: 31px;
}
.comment_section label{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    margin-bottom: 5px;
}
.comment_section textarea{
    max-width: 505px;
    min-height: 72px;
    border: 1px solid #2A2A2C;
    border-radius: 5px;
    padding-left: 5px;
}
.comment_section{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}
.contact_bottom a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 14px;
    text-align: center;
    color: #F8F2EF;
    padding: 20px 228px;
    background: #2A2A2C;
    display: inline-block;
    margin-top: 32px;
}

/* nav section */

.collapse{
    justify-content: end;
}
.navbar-toggler{
    background-color: #F8F2EF;
}
.nav_outer{
    background-color: #2A2A2C;
}
.nav_middle_img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    align-self: end;
}
.header .nav_outer .navbar-collapse ul li .active{
    font-weight: 900;
}
.header .nav_outer .navbar-collapse ul li a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
}
.header .nav_outer .nav_inner{
    border-bottom: 1px solid #FFFFFF;
}

/*  home section 1 */

.home_section_1{
    background-color: var(--lightgray);
    padding-top: 14px;
    padding-bottom: 38px;
}
.home_section_1_inner{
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
}
.carousel-indicators [data-bs-target]{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-left: 20px;
}
.carousel-item img{
    height: 596px;
}
.carousel-indicators [data-bs-target]:first-child{
    margin-left: 0;
}
.carousel-indicators{
    padding-bottom: 35px;
}
.carousel-dark .carousel-indicators [data-bs-target]{
    background-color: #FFFFFF;
}
.slide_1 h1 span{
    font-weight: 900;
}
.slide_1 h1{
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 64px;
}
.slide_1 p{
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    color: #FFFFFF;
}
.slide_1 a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 14px;
    color: var(--lightgray);
    padding: 17px 31px;
    background-color: var(--lightwhite);
    margin-top: 53px;
    display: inline-block;
}
.slide_1 a:hover{
    background-color: #f8f2efd3;
}
.carousel-caption{
   bottom: 20%;
   left: 0;
   right: 0;
}
.slide_2 a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 14px;
    color: var(--lightgray);
    padding: 20px 101px;
    background-color: var(--lightwhite);
    margin-top: 53px;
    display: inline-block;
}
.slide_2 a:hover{
    background-color: #f8f2efd3;
}
.slide_3 a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 14px;
    color: var(--lightgray);
    padding: 20px 101px;
    background-color: var(--lightwhite);
    margin-top: 53px;
    display: inline-block;
}
.slide_3 a:hover{
    background-color: #f8f2efd3;
}
.slide_4 a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 14px;
    color: var(--lightgray);
    padding: 20px 101px;
    background-color: var(--lightwhite);
    margin-top: 53px;
    display: inline-block;
}
.slide_4 a:hover{
    background-color: #f8f2efd3;
}
.slide_5 a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 14px;
    color: var(--lightgray);
    padding: 20px 101px;
    background-color: var(--lightwhite);
    margin-top: 53px;
    display: inline-block;
}
.slide_5 a:hover{
    background-color: #f8f2efd3;
}
.slide_6 a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 14px;
    color: var(--lightgray);
    padding: 20px 101px;
    background-color: var(--lightwhite);
    margin-top: 53px;
    display: inline-block;
}
.slide_6 a:hover{
    background-color: #f8f2efd3;
}
/* home-section-2 */

.home_section_2{
    padding: 45px 0px 49px 0px;
    background-color: var(--lightwhite);
}
.home_section_2_inner .home_section_2_inner_col_outer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.home_section_2_inner h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 41px;
    text-align: center;
    color: #000000;
    max-width: 461px;
    margin-bottom: 36px;
}
.home_section_2_inner p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    max-width: 465px;
    margin-bottom: 54px;
}
.home_section_2_inner p span{
    font-weight: 900;
}
.home_section_2_inner a:hover{
    background: #2a2a2cc5;
}
.home_section_2_inner a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 14px;
    color: #F8F2EF;
    padding: 17px 158px;
    background: #2A2A2C;
    display: inline-block;
}



/* home-section-3 */


.home_section_3{
    background-color: #2A2A2C;
    padding: 85px 0px 76px 0px;
}
.home_section_3_inner{
    width: 100%;
    height: 597px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.home_section_3_inner_inner h2{
    font-family: 'Hedvig Letters Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    margin-bottom: 106px;
    color: #FFFFFF;
}
.home_section_3_inner_inner a:hover{
    background: #f8f2efc7;
}
.home_section_3_inner_inner a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 14px;
    color: #2A2A2C;
    padding: 20px 34px;
    background: #F8F2EF;
    display: inline-block;
}
.home_section_3_inner_inner_bottom{
    display: flex;
    align-items: center;
    justify-content: center;  
}

/* about section 4 */

.about_section_4{
    background-color: var(--lightwhite);
    padding: 71px 0px 91px 0px;
}
.about_section_4_inner h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    color: #000000;
    text-align: center;
    margin-bottom: 73px ;
}
.about_section_4_inner_card_section{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-bottom: 75px;
}
.card_1_outer{
    background-color: var(--lightgray);
    min-width: 600px;
    min-height: 381px;
    margin-right: 10px;
    border-radius: 15px;
}
.card_1_inner h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 41px;
    margin-bottom: 41px;
}
.card_1_inner p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: #FFFFFF;
    max-width: 442px;
    margin: auto;
}
.card_2_outer{
    background-color: var(--lightgray);
    min-width: 600px;
    min-height: 381px;
    border-radius: 15px;
}
.card_2_inner h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 41px;
    margin-bottom: 41px;
}
.card_2_inner p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    margin: auto;
    max-width: 448px;
}
.about_section_4_inner h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 30px;
    color: #000000;
    text-align: center;
}
/* home section 4 */


.home_section_4{
    padding: 80px 0px 80px 0px;
    background-color: var(--lightwhite);
}

.home_section_4_inner_top{
    width: 100%;
    height: 597px;
    display: flex;
    align-items: center;
    justify-content: center;  
    border-radius: 10px;
}
.home_section_4_inner_top_inner h2{
    font-family: 'Hedvig Letters Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 49px;
}
.home_section_4_inner_top_inner .home_section_4_inner_top_inner_bottom a:hover{
    background: #f8f2efc7;
}
.home_section_4_inner_top_inner .home_section_4_inner_top_inner_bottom a{
    padding: 20px 34px;
    background: #F8F2EF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 14px;
    color: #2A2A2C;
    display: inline-block;
}
.home_section_4_inner_top_inner .home_section_4_inner_top_inner_bottom{
    display: flex;
    align-items: center;
    justify-content: center;  
}
.home_section_4_inner_bottom{
    margin-top: 83px;
}
.home_section_4_inner_bottom_right{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.home_section_4_inner_bottom_right_inner_bottom{
    display: flex;
    align-items: center;
    justify-content: end;
}
.home_section_4_inner_bottom_right_inner h3{
    font-family: 'Hedvig Letters Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    text-align: right;
    color: #2A2A2C;
    margin-bottom: 50px;
    max-width: 469px;
}
.home_section_4_inner_bottom_right_inner_bottom a:hover{
    background: #2a2a2cdc;
}
.home_section_4_inner_bottom_right_inner_bottom a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 14px;
    color: #F8F2EF;
    padding: 20px 107px;
    background: #2A2A2C;
    display: inline-block;
}




/* -----------------------------about-section----------------------------- */

/* about section 1 */
.about_section_1{
    background-color: var(--lightgray);
}
.about_section_1_inner{
    padding-top: 44px;
    padding-bottom: 80px;
}
.about_section_1_inner_top_left h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 31px;
}
.about_section_1_inner_top_left p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    max-width: 500px;
}

.about_section_1_inner_bottom_right h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    color: #FFFFFF;
    text-align: right;
    margin-bottom: 29px;
}
.about_section_1_inner_bottom_right p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    color: #FFFFFF;
}
.about_section_1_inner_top_outer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about_section_1_inner_bottom_outer{
    display: flex;
    align-items: center;
    justify-content: space-between;  
    padding-top: 73px;
}
/* about section 2 */

.about_section_2{
    background-color: var(--lightwhite);
    padding-top: 117px;
    padding-bottom: 76px;
}
.about_section_2__inner_top_inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about_section_2__inner_top_inner_left h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 25px;
}
.about_section_2__inner_top_inner_left p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    max-width: 397px;
}
.about_section_2_inner_middle_inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about_section_2_inner_middle_inner_right h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    text-align: right;
    color: #000000;
    margin-bottom: 25px;
}
.about_section_2_inner_middle_inner_right p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    color: #000000;
}
.about_section_2_inner_middle_outer{
    margin-top: 71px;
    padding-bottom: 81px;
}
.about_section_2_inner_bottom_inner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about_section_2_inner_bottom_outer h4{
    font-family: 'Libre Caslon Text';
    font-style: italic;
    font-weight: 700;
    font-size: 40px;
    line-height: 18px;
    color: #000000;
    text-align: center;
    margin-top: 72px;
}

/* about section 3 */
.about_section_3{
    background-color: var(--lightgray);
    padding-top: 115px;
    padding-bottom: 117px;
}
.about_section_3_inner_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about_section_3_inner_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 71px;
}
.about_section_3_inner_top_left h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 31px;
}
.about_section_3_inner_top_left p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    max-width: 489px;
}
.about_section_3_inner_bottom_right h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 54px;
    text-align: right;
    color: #FFFFFF;
}
/*================================Legal Aid ============================== */

/* legal aid section 1 */
.legal_aid_section_1{
    background-color: var(--lightgray);
    padding-top: 18px;
    padding-bottom: 58px;
}
.legal_aid_section_1_inner_inner{
    width: 100%;
    height: 573px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.legal_aid_section_1_inner_inner h1{
    font-family: 'Libre Caslon Text';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 2;
    text-align: center;
    color: #FFFFFF;
}
.legal_aid_section_1_inner_inner h1 span{
    font-weight: 100;
}

/* legal aid section 2 */


.leagal_aid_section_2{
    background-color: var(--lightwhite);
    padding-top: 46px;
}
.leagal_aid_section_2_inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #000000;
    padding-bottom: 43px;
}
.leagal_aid_section_2_right h2{
    font-family: 'Libre Caslon Text';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 30px;
    text-align: right;
    color: #2A2A2C;
    margin-bottom: 61px;
}
.leagal_aid_section_2_right p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: right;
    color: #2A2A2C;
    margin-bottom: 46px;
}
.leagal_aid_section_2_right ul li{
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 55px;
    text-align: right;
    color: #2A2A2C;
}
.leagal_aid_section_2_right ul li::after{
    content: "";
    background-color: var(--lightgray);
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    margin-left: 33px;
}

/* legal aid section 3 */
.leagal_aid_section_3{
    background-color: var(--lightwhite);
    padding: 85px 0px 36px 0px;
}
.leagal_aid_section_3_outer h2{
    font-family: 'Libre Caslon Text';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    color: #000000;
    margin-bottom: 97px;
}
.leagal_aid_section_3_inner_top_1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.leagal_aid_section_3_inner_top_1_left p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    min-width: 633px;
}
.leagal_aid_section_3_inner_top_2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.leagal_aid_section_3_inner_top_2_right p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    text-align: right;
    min-width: 633px;
}
.leagal_aid_section_3_inner_top_2{
    margin-top: 61px;
    margin-bottom: 57px;
}
.leagal_aid_section_3_inner_bottom_1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.leagal_aid_section_3_inner_bottom_1_left p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    align-items: center;
    color: #000000;
    min-width: 633px;
}
.leagal_aid_section_3_inner_bottom_2{
    display: flex;
    align-items: center;
    justify-content: space-between;   
}
.leagal_aid_section_3_inner_bottom_2_right p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    text-align: right;
    color: #000000;
}
.leagal_aid_section_3_inner_bottom_2{
    margin-top: 69px;
    margin-bottom: 66px;
}
.leagal_aid_section_3_outer h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 27px;
    color: #000000;
    text-align: center;
    margin-bottom: 46px;
}
.leagal_aid_section_3_outer a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 14px;
    color: #F8F2EF;
    padding: 20px 173px;
    background-color: var(--lightgray);
}
.leagal_aid_section_3_outer a:hover{
    background-color: #2a2a2cd7;
}
.leagal_aid_section_3_outer_bottom{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* =======================================  service page ============================ */

/*  our service section */

.our_servises{
    background-color: var(--lightgray);
    padding: 24px 0px 62px 0px;
}
.our_servises_inner{
    display: flex;
    justify-content: space-between;
}
.our_servises_outer h1{
    font-family: 'Libre Caslon Text';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 30px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 52px;
}
.our_servises_inner_left p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 33px;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.our_servises_inner_left h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 33px;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.our_servises_inner_left_first_ul li::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #F8F2EF;
    border-radius: 50%;
    margin-right: 41px;
    display: inline-block;
}
.our_servises_inner_left_first_ul li a {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    line-height: 41px;
    color: #FFFFFF;
}
.our_servises_inner_left_second_ul li a{
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    line-height: 41px;
    color: #FFFFFF;
}
.our_servises_inner_left_second_ul li::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #F8F2EF;
    border-radius: 50%;
    margin-right: 41px;
    display: inline-block;
}
.our_servises_inner_left h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 50px 0px 37px 0px;
}


/* expertise_in_ligitation section */

.expertise_in_ligitation{
    background-color: var(--lightwhite);
    padding: 54px 0px 42px 0px;
}
.expertise_in_ligitation_inner h2{
    font-family: 'Libre Caslon Text';
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 18px;
    text-align: center;
    color: #2A2A2C;
    margin-bottom: 65px;
}
.expertise_in_ligitation_inner_top{
    display: flex;
    justify-content: space-between;
}
.expertise_in_ligitation_inner_top_right h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    text-align: right;
    color: #2A2A2C;
    margin-bottom: 33px;
}
.expertise_in_ligitation_inner_top_right p{
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    color: #2A2A2C;
    margin-bottom: 45px;
}
.expertise_in_ligitation_inner_top_right ul li a{
    font-family: 'Libre Caslon Text';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 26px;
    color: #2A2A2C;
    display: flex;
    align-items: center;
    justify-content: right;
}
.expertise_in_ligitation_inner_top_right ul li a::after{
    content: "";
    width: 10px;
    height: 10px;
    background-color: var(--lightgray);
    border-radius: 50%;
    margin-left: 41px;
}


.expertise_in_ligitation_inner_bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}
.expertise_in_ligitation_inner_bottom_left h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    color: #2A2A2C;
    margin-bottom: 33px;
}
.expertise_in_ligitation_inner_bottom_left p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    color: #2A2A2C;
    margin-bottom: 29px;
}
.expertise_in_ligitation_inner_bottom_left ul li a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 37px;
    color: #2A2A2C;
}
.expertise_in_ligitation_inner_bottom_left ul li::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: var(--lightgray);
    border-radius: 50%;
    margin-right: 41px;
    display: inline-block;
}

/* consumer rights */

.consumer_rights{
    background-color: var(--lightgray);
    padding: 48px 0px 49px 0px;
}
.consumer_rights_inner_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.consumer_rights_inner_top_right h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    text-align: right;
    color: #FFFFFF;
    margin-bottom: 22px;
}
.consumer_rights_inner_top_right p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    color: #FFFFFF;
}
.consumer_rights_inner_top_right ul li a::after{
    content: "";
    width: 10px;
    height: 10px;
    background-color: var(--lightwhite);
    border-radius: 50%;
    margin-left: 41px;
}
.consumer_rights_inner_top_right ul li a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 25px;
    text-align: right;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.consumer_rights_inner_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 23px;
}
.consumer_rights_inner_bottom_left h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 22px;
}
.consumer_rights_inner_bottom_left p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
}
.consumer_rights_inner_bottom_left ul li a{
    font-family: 'Libre Caslon Text';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    color: #FFFFFF;
}
.consumer_rights_inner_bottom_left ul li a::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: var(--lightwhite);
    border-radius: 50%;
    margin-right: 41px;
    display: inline-block;
}

/* banking section */

.banking_section{
    background-color: var(--lightwhite);
    padding: 50px 0px 62px 0px;
}
.banking_section_inner_top_right h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    text-align: right;
    color: #2A2A2C;
    margin-bottom: 36px;
}
.banking_section_inner_top_right p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    color: #2A2A2C;
}
.banking_section_inner_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.banking_section_inner_bottom_left h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    color: #2A2A2C;
    margin-bottom: 36px;
}
.banking_section_inner_bottom_left p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #2A2A2C;
}
.banking_section_inner_bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* insurance section */

.insurance_section{
    background-color: var(--lightgray);
    padding: 53px 0px 35px 0px;
}
.insurance_section_inner_top_left{
    margin-top: 10px;
}
.insurance_section_inner_top_right h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    text-align: right;
    color: #F8F2EF;
    margin-bottom: 25px;
}
.insurance_section_inner_top_right p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.insurance_section_inner_top_right h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: right;
    color: #F8F2EF;
    margin-bottom: 30px;
}
.insurance_section_inner_top_right ul li a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    text-align: right;
    color: #F8F2EF;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &:last-child{
        align-items: baseline;
    }
}
.insurance_section_inner_top_right ul li a::after{
    content: "";
    background-color: var(--lightwhite);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 25px;
}
.insurance_section_inner_top_right ul li{
    margin-bottom: 20px;
    &:last-child{
        margin-bottom: 0;
    }
}
.insurance_section_inner_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.insurance_section_inner_bottom_left h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 28px;
}
.insurance_section_inner_bottom_left p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.insurance_section_inner_bottom_left ul li a{
    font-family: 'Libre Caslon Text';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    color: #FFFFFF;
}
.insurance_section_inner_bottom_left ul li{
    margin-bottom: 25px;
    display: flex;
    &::before{
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 30px;
        background-color: var(--lightwhite);
        display: inline-block;
    }
}
.insurance_section_inner_bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 22px;
}

/* civil matters section */

.civil_matters_section{
    background-color: var(--lightwhite);
    padding: 78px 0px 77px 0px;
    height: 1029px;
}
.civil_matters_section_inner_left h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    color: #2A2A2C;
    margin-bottom: 35px;
}
.civil_matters_section_inner_left p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #2A2A2C;
    margin-bottom: 54px;
}
.civil_matters_section_inner_left .content .first_accordion{
    margin-bottom: 10px;

}
.civil_matters_section_inner{
    display: flex;
    justify-content: space-between;
}
.civil_matters_section_inner_right{
    margin-left: 20px;
}
.civil_matters_section_inner_left .accordion li{
    margin-bottom: 24px;
}
.civil_matters_section_inner_left .accordion li label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 41px;
    cursor: pointer;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    color: #FFFFFF;
    min-width: 715px;
    min-height: 61px;
    background: #2A2A2C;
    border-radius: 15px;
    border-radius: 15px;
}
.civil_matters_section_inner_left label::after{
    content: '+';
    font-size: 24px;
    margin-right: 33px;
}
.civil_matters_section_inner_left input[type='radio']{
    display: none;
}
.civil_matters_section_inner_left .accordion .content{
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s, padding 0.5s;
}
.civil_matters_section_inner_left .accordion input[type='radio']:checked + label + .content{
    max-width: 715px;
    max-height: 169px;
    background: rgba(42, 42, 44, 0.7);
    border-radius: 0px 0px 15px 15px;
    margin-top: -10px;
}
.civil_matters_section_inner_left .accordion input[type='radio']:checked + label::after{
    content: '-';
}
.civil_matters_section_inner_left .content p{
    margin-top: 27px;
    margin-left: 36px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
}





/* footer */

footer{
    background-color: #2A2A2C;
}
.footer_inner{
    padding-top: 58px;
}
.footer_left_inner h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
}
.footer_left_inner p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    max-width: 241px;
}
.footer_left_inner  a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
}
.footer_left_inner  a span{
    margin-right: 15px;
}
.footer_left_inner ul li{
    margin-top: 14px;
}
.footer_left_inner{
    padding-bottom: 33px;
}
.footer_right_outer{
    display: flex;
    align-items: end;
    justify-content: end;
    height: 100%;
    padding-bottom: 33px;
}
.footer_right_inner h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
}
.footer_right_inner ul{
    display: flex;
    align-items: center;
}
.footer_right_inner ul li:first-child{
    margin: 0;
}
.footer_right_inner ul li{
    margin-left: 37px;
}
.footer_right_inner ul li a span{
    margin-bottom: 5px;
}
.footer_right_inner ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #FFFFFF;
}
.footer_bottom{
    border-top: 2px solid #FFFFFF;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_bottom p span{
    margin-right: 10px;
}
.footer_bottom p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #F8F2EF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_inner_top{
    display: flex;
    justify-content: space-between;
}











/* ========================================================================================== */

@media (max-width: 1199px) {


/* contact popup */
.cancell_popup_inner_right figure img {
    height: 560px;
}


/* home section 1 */
.slide_1 h1{
    font-size: 35px;
    
}
.slide_1 p{
    font-size: 30px;
}
/*  home section 2*/
.home_section_2_inner p{
    text-align: center;
}
.home_section_2_inner a{
    display: flex;
    justify-content: center;
}
.home_section_2_right_col_inner{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

/* home section 4 */

.home_section_4_inner_bottom_left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home_section_4_inner_bottom_right_inner h3{
    text-align: center;
}
.home_section_4_inner_bottom_right_inner_bottom{
    justify-content: center;
}


/* --------------------------------about section--------------------------------- */

/* about section 1 */
.about_section_1_inner_top_outer{
    flex-direction: column;
}
.about_section_1_inner_top_left h2{
    text-align: center;
}
.about_section_1_inner_top_left p{
    text-align: center;
    margin-bottom: 25px;
    max-width: none;
}
.about_section_1_inner_top_left p br{
   display: none;
}

.about_section_1_inner_bottom_outer{
    flex-direction: column-reverse;
}
.about_section_1_inner_bottom_outer{
    padding-top: 50px;
}
.about_section_1_inner_bottom_right h3{
    text-align: center;
}
.about_section_1_inner_bottom_right p{
    text-align: center;
    margin-bottom: 25px;
}
.about_section_1_inner_bottom_right p br{
    display: none;
}
.about_section_1_inner{
    padding-bottom: 50px;
}

    /* about section 2 */
.about_section_2{
    padding-top: 50px;
}
.about_section_2__inner_top_inner{
    flex-direction: column;
}
.about_section_2__inner_top_inner_left h2{
    text-align: center;
}
.about_section_2__inner_top_inner_left p{
    max-width: 100%;
    text-align: center;
    margin-bottom: 25px;
}
.about_section_2__inner_top_inner_left p br{
    display: none;
}
.about_section_2_inner_middle_outer{
    margin-top: 50px;
}
.about_section_2_inner_middle_inner {
    flex-direction: column-reverse;
}
.about_section_2_inner_middle_inner_right h3{
    text-align: center;
}
.about_section_2_inner_middle_inner_right p{
    margin-bottom: 25px;
    text-align: center;
}
.about_section_2_inner_middle_inner_right p br{
    display: none;
}
.about_section_2_inner_middle_outer{
    padding-bottom: 50px;
}
.about_section_2_inner_bottom_outer h4{
    margin-top: 50px;
}
.about_section_2{
    padding-bottom: 50px;
}

    /* about section 3 */
.about_section_3{
    padding-top: 50px;
}
.about_section_3_inner_top{
    flex-direction: column;
}
.about_section_3_inner_top_left h2{
    text-align: center;
}
.about_section_3_inner_top_left p{
    max-width: 100%;
    text-align: center;
    margin-bottom: 25px;
}

.about_section_3_inner_bottom{
    flex-direction: column-reverse;
    margin-top: 50px;
}
.about_section_3_inner_bottom_right h3{
    margin-bottom: 25px;
}
.about_section_3_inner_bottom_right h3 br{
    display: none;
}
.about_section_3{
    padding-bottom: 50px;
}

    /* about section 4 */

.about_section_4{
    padding: 50px 0px 50px 0px;
}
.about_section_4_inner h2{
    margin-bottom: 50px;
}
.about_section_4_inner_card_section{
    flex-direction: column;
    align-items: center;
}
.card_1_outer{
    margin-right: 0px;
    margin-bottom: 25px;
}
.card_1_inner p{
    text-align: center;
}
.card_2_inner p{
    text-align: center;
}
.about_section_4_inner h4{
    font-size: 30px;
}

/* =========================================legal aid ================================*/

/* legal aid section 2 */

.leagal_aid_section_2_inner{
    flex-direction: column;
}
.leagal_aid_section_2_right h2{
    margin-bottom: 50px;
    text-align: center;
    margin-top: 25px;
}
.leagal_aid_section_2_right p{
    text-align: center;
}
.leagal_aid_section_2_right p br{
    display: none;
}

/* legal aid section 3 */
.leagal_aid_section_3{
    padding: 50px 0px 50px 0px;
}
.leagal_aid_section_3_outer h2{
    margin-bottom: 50px;
}
.leagal_aid_section_3_inner_top_1{
    flex-direction: column-reverse;
}
.leagal_aid_section_3_inner_top_1_left p {
    text-align: center;
    margin-top: 25px;
}
.leagal_aid_section_3_inner_top_1_left p br{
    display: none;
}
.leagal_aid_section_3_inner_top_2{
    margin: 50px 0px 50px 0px;
    flex-direction: column;
}
.leagal_aid_section_3_inner_top_2_right p {
    text-align: center;
    margin-top: 25px;
}
.leagal_aid_section_3_inner_top_2_right p br{
    display: none;
}
.leagal_aid_section_3_inner_bottom_1{
    flex-direction: column-reverse;
}
.leagal_aid_section_3_inner_bottom_1_left p{
    margin-top: 25px;
    text-align: center;
}
.leagal_aid_section_3_inner_bottom_1_left p br{
    display: none;
}
.leagal_aid_section_3_inner_bottom_2{
    margin: 50px 0px 50px 0px;
    flex-direction: column;
}
.leagal_aid_section_3_inner_bottom_2_right p{
    text-align: center;
}
.leagal_aid_section_3_inner_bottom_2_right p br{
    display: none;
}
.leagal_aid_section_3_outer h3{
    font-size: 30px;
}
.leagal_aid_section_3_outer a{
    padding: 20px 123px;
}



/* ====================================== service section ================================ */

/* our service section */
.our_servises_inner{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}
.our_servises_inner_left p {
    text-align: center;
    margin-top: 25px;
}
.our_servises_inner_left p br{
    display: none;
}
.our_servises_inner_left h2{
    text-align: center;
}
.our_servises_inner_left h3{
    text-align: center;
}

/* expertise in ligitation */

.expertise_in_ligitation_inner_top{
    flex-direction: column;
    justify-content: center;
   
}
.expertise_in_ligitation_inner_top_left {
    display: flex;
    align-items: center;
    justify-content: center;
}
.expertise_in_ligitation_inner_top_right h3{
    text-align: center;
    margin-top: 25px;
}
.expertise_in_ligitation_inner_top_right p{
    text-align: center;
    margin-bottom: 25px;
}
.expertise_in_ligitation_inner_top_right p br{
    display: none;
}
.expertise_in_ligitation_inner_bottom{
    flex-direction: column-reverse;
}
.expertise_in_ligitation_inner_bottom_right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.expertise_in_ligitation_inner_bottom_left h3{
    text-align: center;
    margin-top: 25px;
}
.expertise_in_ligitation_inner_bottom_left p{
    text-align: center;
}
.expertise_in_ligitation_inner_bottom_left p br{
    display: none;
}

/* consumer section */

.consumer_rights_inner_top{
    flex-direction: column;
    align-items: normal;
}
.consumer_rights_inner_top_left{
    display: flex;
    justify-content: center;
}
.consumer_rights_inner_top_right h3{
    text-align: center;
    margin-top: 25px;
}
.consumer_rights_inner_top_right p br{
    display: none;
}
.consumer_rights_inner_top_right p{
    text-align: center;
    margin-bottom: 25px;
}
.consumer_rights_inner_top_right ul li a::after{
    margin-left: 25px;
}

.consumer_rights_inner_bottom{
    flex-direction: column-reverse;
    align-items: normal;
}
.consumer_rights_inner_bottom_right{
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}
.consumer_rights_inner_bottom_left h3{
    text-align: center;
}
.consumer_rights_inner_bottom_left p{
    text-align: center;
    margin-bottom: 25px;
}
.consumer_rights_inner_bottom_left p br{
    display: none;
}
.consumer_rights_inner_bottom_left ul li a::before{
    margin-right: 25px;
}

/* banking section */

.banking_section_inner_top{
    flex-direction: column;
    align-items: normal;
}
.banking_section_inner_top_left{
    display: flex;
    justify-content: center;
}
.banking_section_inner_top_right h2{
    text-align: center;
    margin-top: 25px;
}
.banking_section_inner_top_right p{
    text-align: center;
}
.banking_section_inner_top_right p br{
    display: none;
}
.banking_section_inner_bottom{
    flex-direction: column-reverse;
    align-items: normal;
}
.banking_section_inner_bottom_right{
    display: flex;
    justify-content: center;
}
.banking_section_inner_bottom_left h2{
    margin-top: 25px;
    text-align: center;
}
.banking_section_inner_bottom_left p br{
    display: none;
}
.banking_section_inner_bottom_left p {
    text-align: center;
}

/* insurance section */

.insurance_section_inner_top{
    flex-direction: column;
    align-items: normal;
}
.insurance_section_inner_top_left{
    display: flex;
    justify-content: center;
}
.insurance_section_inner_top_right h2{
    text-align: center;
    margin-top: 25px;
}
.insurance_section_inner_top_right p{
    text-align: center;
}
.insurance_section_inner_top_right p br{
    display: none;
}
.insurance_section_inner_top_right h3{
    text-align: center;
}

.insurance_section_inner_bottom{
    flex-direction: column-reverse;
    align-items: normal;
}
.insurance_section_inner_bottom_right{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.insurance_section_inner_bottom_left h4{
    text-align: center;
     margin-top: 25px;
}
.insurance_section_inner_bottom_left p br{
    display: none;
}
.insurance_section_inner_bottom_left p{
    text-align: center;
}

/* civil matter */

.civil_matters_section_inner{
    flex-direction: column;
    align-items: normal;
}

.civil_matters_section_inner_left{
    display: flex;
    justify-content: center;
}
.civil_matters_section{
    height: 100%;
}
.civil_matters_section_inner_right{
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-top: 25px;
}

}
@media (max-width:991px) {

/* contact popup */

.cancell_popup_inner_right{
    display: none;
}
.modal-content {
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
}
.contact_popup_inner_left{
    margin-right: 0;
}
.modal-header .btn-close{
    margin-right: -1px;
    margin-top: -9px;

}

    /* home section 1 */

.slide_1 h1{
    font-size: 30px;  
}
.slide_1 p{
   font-size: 25px;
}
.carousel-indicators [data-bs-target]{
    width: 15px;
    height: 15px;
}
.slide_4 a,.slide_2 a,.slide_3 a,.slide_5 a,.slide_6 a{
    padding: 15px 55px;
}
/* home section 2 */

.home_section_2_inner p{
 
    margin: 0 auto 15px auto;
}

/* ========================about====================== */

/* about section 2 */
.about_section_2_inner_bottom_outer h4{
    font-size: 30px;
}
/* about section 3 */
.about_section_3_inner_bottom_right h3{
    font-size: 27px;
}

/* about section 4 */
.about_section_4_inner h4{
    font-size: 25px;
}


/* ==============================legal aid====================== */

/* legal aid secion 3 */
.leagal_aid_section_3_outer h3{
    font-size: 25px;
    margin-bottom: 25px;
}


}



@media (max-width:767px) {

/* contact section */
.modal-content{
    border-left: none;
    border-right: none;
}

    /* home secion 1 */

.carousel-item img{
    height: 525px;
}
.slide_1 h1{
    font-size: 25px;
    margin-bottom: 20px;
}
.slide_1 p{
    font-size: 18px;
}
.carousel-indicators [data-bs-target]{
    width: 12px;
    height: 12px;
}
    /* footer */

.footer_inner_top{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer_left_inner p{
    text-align: center;
    max-width: 257px;
}
.footer_left_inner h2{
    text-align: center;
}
.footer_left_inner ul li{
    display: flex;
    justify-content: center;
}

/* =================================== about=================================*/
/* about secion 2 */
.about_section_2_inner_bottom_outer h4{
    font-size: 25px;
}
/* about section 3 */
.about_section_3_inner_bottom_right h3{
    font-size: 21px;
}
/* about section 4 */
.card_1_inner h3{
    font-size: 20px;
    margin-bottom: 25px;
}
.card_2_inner h3{
    font-size: 20px;
    margin-bottom: 25px;
}
.card_1_outer {
    min-width: 473px;
    min-height: 377px;
}
.card_2_outer {
    min-width: 473px;
    min-height: 377px;
}
.card_2_inner p{
    line-height: 1.5;
}

.about_section_4_inner h4{
    font-size: 20px;
}

/* =====================================legal aid================================= */

/* legal aid secion 1 */

.legal_aid_section_1_inner_inner h1{
    font-size: 35px;
}

/* legal aid section 2 */

.leagal_aid_section_2_right h2{
    font-size: 35px;
}
.leagal_aid_section_2_right ul li{
    font-size: 16px;
}

/* legal aid section 3 */

.leagal_aid_section_3_inner_top_1_left p{
    min-width: 300px;
}
.leagal_aid_section_3_inner_top_2_right p{
    min-width: 300px;
}
.leagal_aid_section_3_inner_bottom_1_left p{
    min-width: 300px;
}
.leagal_aid_section_3_outer h3{
    font-size: 20px;
}

/* ====================================== service section ================================ */

.our_servises_outer h1{
    margin-top: 0;
    margin-bottom: 20px;
}
.civil_matters_section_inner_left .accordion li label{
    min-width: 550px;
}

}

@media (max-width:575px) {

/* contact popup */
.name_div input{
    max-width: 300px;
}
.contact_popup_inner_left h2{
    margin-bottom: 25px;
}
.modal-content{
    margin-top: 50px;
}
.mobile_div label{
    margin-top: 10px;
}
.contact_outer label{
    margin-top: 10px;
}
.choose_section_inner .input_2 label{
    margin-left: 5px;
    margin-bottom: 0;
}
.comment_section textarea{
    max-width: 300px;
}
.contact_bottom a {
    padding: 20px 122px;
    margin-top: 25px;
}
.mobile_and_contact_outer{
    flex-direction: column;
    align-items: flex-start;
}
.choose_section_inner{
    flex-direction: column;
}
.mobile_div input{
    min-width: 300px;
}
.contact_outer input{
    min-width: 300px;
}
.choose_section_inner .input_1{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 5px;
}
.choose_section_inner .input_2{
    margin-left: 0;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 5px;
}
.choose_section_inner .input_2 input{
    margin-top: 0;
}
.choose_section_inner .input_3{
    margin-left: 0;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 5px;
}
.choose_section p{
    margin-top: 25px;
}
.comment_section{
    margin-top: 25px;
}
.choose_section_inner .input_4{
    margin-left: 0;
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.choose_section_inner label br{
    display: none;
}
.choose_section_inner label{
    margin-bottom: 0;
    margin-left: 5px;
}

/* nav menu */
.nav_middle_img{
  width: 45%;
  align-self: center;
  margin-left: -25px;
  margin-top: 25px;
}

/* home section 1 */
.carousel-item img{
    height: 480px;
}
.slide_1 h1{
    font-size: 20px;
}
.slide_1 p{
    font-size: 16px;
}
.home_section_1{
    padding-bottom: 10px;
}
.carousel-indicators [data-bs-target]{
    width: 10px;
    height: 10px;
}
.slide_1 a{
    margin-top: 25px;
}
.slide_1 a{
    padding: 15px 26px;
}
.slide_4 a, .slide_2 a, .slide_3 a, .slide_5 a, .slide_6 a {
    padding: 15px 31px;
}

/* home sectio 2 */

.home_section_2_inner h2{
    font-size: 25px;
    margin-bottom: 20px;
}
.home_section_2_inner p{
    font-size: 16px;
    margin-bottom: 15px;
    max-width: 311px;

}
.home_section_2_inner a{
    padding: 15px 10px;
}
.home_section_2_right_col_inner{
    margin-top: 25px;
}
.home_section_2{
    padding-bottom: 25px;
}

/* home section 3 */

.home_section_3_inner{
    height: 400px;
    width: 100%;
    border-radius: 10px;
}
.home_section_3_inner_inner h2{
    font-size: 21px;
   
}
.home_section_3_inner_inner a{
    padding: 14px 24px;

}

/* home section 4 */

.home_section_4{
    padding: 25px 0px 25px;
}
.home_section_4_inner_top{
    height: 400px;
}
.home_section_4_inner_top_inner h2{
    font-size: 18px;
}
.home_section_4_inner_top_inner .home_section_4_inner_top_inner_bottom a{
    padding: 14px 24px;

}
.home_section_4_inner_bottom_right_inner h3{
    font-size: 21px;
    line-height: 1.5;
    margin-bottom: 25px;
}
.home_section_4_inner_bottom{
    margin-top: 25px;
}
.home_section_4_inner_bottom_right_inner_bottom a{
    padding: 20px 55px;
}

/* footer */

.footer_left_inner h2{
    text-align: center;
}
.footer_left_inner p{
    max-width: 100%;
    text-align: center;
}
.footer_left_inner ul li{
    align-items: center;
    display: flex;
    justify-content: center;
}
.footer_bottom{
    height: 60px;
}
.footer_right_inner ul li{
    margin-left: 10px;
}
.footer_right_outer{
    justify-content: center;
}


/* ================================================= about ============================= */

/* about section 1 */
.about_section_1_inner{
    padding-top: 25px;
    padding-bottom: 25px;
}
.about_section_1_inner_top_left h2{
    margin-bottom: 25px;
}
.about_section_1_inner_bottom_outer{
    padding-top: 25px;
}
.about_section_1_inner_bottom_right h3{
    margin-bottom: 25px;
}

/* about section 2 */
.about_section_2{
    padding-top: 25px;
    padding-bottom: 25px;
}
.about_section_2_inner_middle_outer{
    padding-top: 25px;
    margin-top: 0;
}
.about_section_2_inner_bottom_outer h4{
    font-size: 20px;
    margin-top: 15px;
}

/* about section 3 */
.about_section_3{
    padding-top: 25px;
}
.about_section_3_inner_top_left h2{
    margin-bottom: 25px;
}
.about_section_3_inner_bottom_right h3{
    font-size: 18px;
    text-align: center;
    margin-bottom: 0;
}
.about_section_3_inner_bottom{
    margin-top: 0;
}

/* about section 4 */
.about_section_4{
    padding: 25px 0px 25px 0px;
}
.about_section_4_inner h2{
    margin-bottom: 25px;
    font-size: 20px;
}
.card_1_inner h3{
    font-size: 17px;
    margin-bottom: 15px;
    padding-top: 15px;
}
.card_1_inner p{
    max-width: 300px;
}
.card_1_outer{
    min-width: 327px;
    min-height: 440px;
}
.card_2_inner h3{
    font-size: 17px;
}
.card_2_inner p{
    max-width: 300px;
}
.card_2_outer{
    min-width: 327px;
    min-height: 440px;
}


/* =========================================== legal aid============================ */

/* legal aid section 1 */
.legal_aid_section_1_inner_inner h1{
    font-size: 25px;
}
.legal_aid_section_1_inner_inner{
    height: 450px;
}
.legal_aid_section_1{
    padding-bottom: 25px;
}

/* legal aid section 2 */
.leagal_aid_section_2_right h2{
    font-size: 25px;
    margin-bottom: 25px;
}
/* legal aid section 3 */
.leagal_aid_section_3_outer h2{
    font-size: 25px;
    margin-bottom: 25px;
}
.leagal_aid_section_3{
    padding: 25px 0px 25px 0px;
}
.leagal_aid_section_3_inner_top_2{
    margin: 25px 0px 25px 0px;
}
.leagal_aid_section_3_inner_bottom_2{
    margin: 25px 0px 25px 0px;
}
.leagal_aid_section_3_outer a {
    padding: 20px 72px;
}


/* ====================================== service section ================================ */

.our_servises{
    padding: 20px 0px;
}
.our_servises_outer h1{
    font-size: 25px;
    margin-bottom: 15px;
}
.our_servises_inner_left p{
    font-size: 16px;
    margin-bottom: 15px;
}
.our_servises_inner_left h2{
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}
.our_servises_inner_left_first_ul li a{
    font-size: 16px;
}
.our_servises_inner_left h3{
    margin: 20px 0px;
    text-align: left;
}
.our_servises_inner_left_second_ul li a{
    font-size: 16px;
}
.consumer_rights{
    padding: 25px 0px 25px 0px;
}


/* banking section */

.banking_section_inner_top_right h2{
    font-size: 21px;
}
.banking_section{
    padding: 25px 0px 25px 0px;
}
.banking_section_inner_top_right h2{
    margin-top: 15px;
    margin-bottom: 15px;
}
.banking_section_inner_bottom_left h2{
    font-size: 21px;
    margin-top: 15px;
    margin-bottom: 15px;
}
/* consumer */

.consumer_rights_inner_top_right h3{
    margin-top: 0;
    margin-bottom: 15px;
}
.consumer_rights_inner_bottom_right{
    margin-bottom: 10px;
}
.consumer_rights_inner_bottom_left h3{
    margin-bottom: 15px;
}
.consumer_rights_inner_bottom_left ul li a{
    display: flex;
    align-items: baseline;
}
.consumer_rights_inner_bottom_left h3{
    font-size: 21px;
}
.consumer_rights_inner_top_right h3{
    font-size: 21px;
}
.consumer_rights_inner_bottom_left ul li a::before{
    min-width: 10px;
}
.consumer_rights_inner_top_right ul li a::after{
    min-width: 10px;
}
.consumer_rights_inner_top_right ul li a{
    align-items: baseline;
}

/* insurance section */

.insurance_section{
    padding: 25px 0px 25px 0px;
}
.insurance_section_inner_top_right h2{
    font-size: 21px;
    margin: 15px 0px 15px 0px;
}
.insurance_section_inner_top_right ul li a::after{
    min-width: 10px;   
}
.insurance_section_inner_top_right p{
    margin-bottom: 15px;
}
.insurance_section_inner_top_right h3{
    margin: 0px 0px 15px 0px;
}
.insurance_section_inner_bottom_left h4{
    font-size: 21px;
    margin: 15px 0px 15px 0px;
}


/* expertise in ligitation */



.expertise_in_ligitation{
    padding: 20px 0px;
}
.expertise_in_ligitation_inner h2{
    margin-bottom: 20px;
    font-size: 25px;
}
.expertise_in_ligitation_inner_top_right h3{
    font-size: 18px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.expertise_in_ligitation_inner_bottom_left h3{
    font-size: 18px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.expertise_in_ligitation_inner_top_right ul li a::after{
    margin-left: 15px;
}
.expertise_in_ligitation_inner_bottom_left ul li::before{
    margin-right: 15px;
}

.civil_matters_section_inner_left .accordion li label{
    min-width: 340px;
}
.civil_matters_section{
    padding: 0px 0px 25px 0px;
}
.civil_matters_section_inner_left h2{
    font-size: 21px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 20px;
}
.civil_matters_section_inner_left p{
    font-size: 14px;
    margin-bottom: 25px;
}
.civil_matters_section_inner_left p br{
    display: none;
}
.civil_matters_section_inner_left .accordion li label{
    font-size: 21px;
    padding-left: 10px;
}
.civil_matters_section_inner_left label::after{
    margin-right: 15px;
}
.civil_matters_section_inner_left .content p{
    margin-top: 15px;
    margin-left: 10px;
}
.civil_matters_section_inner{
    flex-direction: column-reverse;
}

}